<div ng-controller="MyMenuOwnerListCtrl">
    <div class="container">
        <div class="row">
            <h1 class="text-center">{{'menu.list.ltitle' | translate}} {{restaurant.name}} </h1>
            <div class="list-group">
                <a href="#" class="list-group-item" ng-repeat="item in ListRestaurantMenus">
                    <div class="col-md-6" ng-click="goeditResto(item)">
                        <h4 class="list-group-item-heading"> {{item.name}} </h4>
                    </div>
                    <div class="col-md-3 text-center">
                        <h2> {{item.created_at | date : format : shortDate  }}</h2>
                        <button type="button" class="btn btn-default btn-lg btn-block">
                        {{'menu.list.battachfiles' | translate}}
                        </button>
                        <p> {{'menu.list.bcountfiles' | translate}} {{item.files.length}} </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
