@media (min-width: 992px) {
    .col-md-sub-3 {
        width: none !important;
    }
}

.wellListMenu {
  background-color: none;
  
}

.btnedit {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border: 1px solid #ddd;
}

.listfiles {
	border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

.labelnamerestaurant {
	display: initial;
}
.languages {
	margin-right: 10px;
}

.btn-options {
	    border-radius: 4px !important;
}