<h1>lista de restaurantes</h1>
<div class="row" ng-controller="MyRestaurantOwnerListCtrl">
    <div>
        <div class="col-xs-18 col-sm-6 col-md-3" ng-repeat="item in ListRestaurants">
            <div class="thumbnail text-center" >
                <h1>{{item.name}}</h1>
                <div class="caption">
                    <div class="row">
                        <button ng-click="addMenu(item)" class="btn btn-primary btn-info">Agregar Menu</button>
                    </div>
                    <div class="row">
                         <h4>Listado de Menus</h4>
                        <div class="col-md-sub-3 well" ng-repeat="menu in item.ListMenu">
                            <div class="thumbnail">
                            <h2> {{menu.name}} </h2>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="file in menu.files">{{file.filename}}</li>
                                </ul>
                            </div>
                        </div>
                        <p class="text-center">
                            <button ng-click="edit(item)" class="btn btn-primary">editar</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
