<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{'translator.list.hTranslationNumber' | translate}}</th>
                <th>{{'translation.list.menuname' | translate}} </th>
                <th>{{'translation.list.restoname' | translate}} </th>
                <th>{{'translation.list.languageto' | translate}} </th>
                <th>{{'translation.list.StartTranslate' | translate}} </th>
                <th>{{'translation.list.EndTranslate' | translate}} </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="translate in ListTranslation">
            <td> {{'translator.list.TranslationNumber' | translate}}   {{translate.TranslationNumber}} </td>
                <td>{{translate.Menuid.name}} </td>
                <td>{{translate.Restaurantid.name}} </td>
                <td>{{translate.LanguagesTo | translate}} </td>
                <td>{{translate.StartTranslate}} </td>
                <td>{{translate.EndTranslate}} </td>
                <td>
                    
                    <button class="btn btn-success" ng-show="translate.IsDoneTranslate" ng-disabled="isFileCreated(translate)" ng-click="download(translate)">
                        <i class="fa fa-cog"></i>{{'translation.list.makefile' | translate}}
                    </button>
                    <a href="{{getFilePath(translate)}}" ng-show="isFileCreated(translate)" target="_blank">
                        <i class="fa fa-download"></i></a>
                    <button class="btn btn-warning" ng-show="translate.IsDoneTranslate" ng-click="viewTranslation(translate)"><i class="fa fa-eye"></i></button>

                    <div ng-show="translate.IsDoneTranslate">
                        
                    <button class="btn btn-alert" ng-hide="translate.OwnerApproved"  ng-click="ApprovedPublish(translate)">
                        {{'translation.list.ApprovedPublish' | translate}}
                    </button>

                    <button class="btn btn-alert" ng-hide="translate.OwnerApproved">
                        {{'translation.list.Addcomplaint' | translate}}
                    </button>
                    </div>


                </td>
            </tr>
        </tbody>
    </table>
    {{viewMenu }}
</div>
