<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{'translator.list.hTranslationNumber' | translate}}</th>
                <th>{{'translation.list.restoname' | translate}} </th>
                <th>{{'translation.list.menuname' | translate}} </th>
                <th>{{'translation.list.languageto' | translate}} </th>
                <th>{{'translation.list.StartTranslate' | translate}} </th>
                <th>{{'translation.list.EndTranslate' | translate}} </th>
                <th>{{'publishAndUnPublish' | translate}} </th>
                <th>{{'complaint' | translate}} </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="translate in ListTranslation">
                <td> {{'translator.list.TranslationNumber' | translate}} {{translate.TranslationNumber}} </td>
                <td>{{translate.Restaurantid.name}} </td>
                <td>{{translate.Menuid.name}} </td>
                <td>{{translate.LanguagesTo | translate}} </td>
                <td>
                    <span ng-hide="translate.StartTranslate">{{'translation.list.nostart' | translate}}</span> {{translate.StartTranslate | date:'short'}}
                </td>
                <td>
                    <span ng-show="!translate.EndTranslate && !translate.StartTranslate">----</span>
                    <span ng-show="!translate.EndTranslate && translate.StartTranslate">{{'translation.list.inProcess' | translate}}</span> {{translate.EndTranslate | date:'short'}}
                </td>
                <td>
                    <div class="row" ng-show="showOptionsEndTranslation(translate)">
                        
                        <button class="btn btn-alert"  ng-hide="translate.OwnerApproved" ng-click="ApprovedPublish(translate)">
                            {{'translation.list.ApprovedPublish' | translate}}
                        </button>
                        <button class="btn btn-alert"  ng-show="translate.OwnerApproved" ng-click="UnApprovedPublish(translate)">
                            {{'translation.list.UnApprovedPublish' | translate}}
                        </button>
                    </div>
                    <div class="row">
                        
                    <button class="btn btn-success" ng-show="showOptionsEndTranslation(translate)" ng-disabled="isFileCreated(translate)" ng-click="download(translate)">
                        <i class="fa fa-cog"></i>{{'translation.list.makefile' | translate}}
                    </button>
                    <a href="{{getFilePath(translate)}}" ng-show="isFileCreated(translate)" target="_blank">
                        <i class="fa fa-download"></i></a>
                    <button class="btn btn-warning" ng-show="showOptionsEndTranslation(translate)" ng-click="viewTranslation(translate)"><i class="fa fa-eye"></i></button>
                    </div>
                </td>
                <td>
                    <div ng-show="showOptionsEndTranslation(translate)">
                        <button class="btn btn-alert" ng-click="openNewComplaint(translate)">
                            {{'translation.list.Addcomplaint' | translate}}
                        </button>
                        <button class="btn btn-small" ng-click="showComplaint(complaint)" ng-class="getTypeComplaint(complaint)" ng-repeat="complaint in translate.Complaints"> <i class="fa fa-flag"></i> </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <script type="text/ng-template" id="viewMenu.html">
        <div class="modal-header">
            <h3 class="modal-title">{{language| translate}} </h3>
        </div>
        <div class="modal-body">
            <div id="wrap">
                <div class="inner">
                    <div class="row" ng-repeat="group in viewMenu">
                        <h1>{{group.namegroup}} </h1>
                        <dl ng-repeat="plat in group.Items">
                            <dt>{{plat.PriceMenu}}</dt>
                            <dd><em> <p> {{plat.NameMenu}} </p> <p>{{plat.DescriptionMenu}} </p> <p>{{plat.ItemsMenu}} </p> </em></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">
                {{'close' | translate}}
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="Addcomplaint.html">
        <div class="modal-header">
            <h3 class="modal-title">{{'translation.list.haddComplaint' | translate}}   </h3>
        </div>
        <div class="modal-body">
            <textarea rows="4" placeholder="" style="width: 100%;" ng-model="descripcionComplaint"></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="!enableButtonOK()">{{'OK' | translate}}</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">
                {{'CANCEL' | translate}}
            </button>
        </div>
    </script>
</div>

    <script type="text/ng-template" id="OwnerViewcomplaint.html">
        <div class="modal-header">
            <h3 class="modal-title">{{'translation.list.hdescriptioncomplaint' | translate}}   </h3>
        </div>
        <div class="modal-body">
             <p> {{descripcionComplaint}} </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button"  ng-show="showStartComplaint()" ng-click="startFixComplaint()">{{'translation.list.bbeginFix' | translate}}</button>
            <button class="btn btn-primary" type="button"  ng-show="showCloseComplaint()" ng-click="CloseComplaint()">{{'translation.list.bcloseFix' | translate}}</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">
                {{'close' | translate}}
            </button>
        </div>
    </script>
