<section ng-controller="MyRestaurantOwnerNewMenuCtrl" class="addmenu-gb">
    <div class="container" >
        <div class="row">
            <div class="col-md-4 col-md-offset-4 well">
                <form class="form-horizontal" role="form" name="cartMenu" novalidate="novalidate">
                    <fieldset>
                        <legend align="center">{{RestaurantSelectedInfo.name}}</legend>
                        <div class="form-group" ng-class="{ 'has-error' : cartMenu.namemenu.$invalid && !cartMenu.namemenu.$pristine }">
                            <label class="col-sm-4" for="namemenu">{{'menu.new.lname' | translate}}</label>
                            <div class="col-sm-8">
                                <input type="text" name="namemenu" placeholder="{{'menu.new.phname' | translate}}" class="form-control" required ng-model="cartMenu.name">
                                <span class="label label-danger" ng-show="cartMenu.namemenu.$error.required">{{'required' | translate}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="language" class="col-sm-4">{{'menu.new.llangallow' | translate}}</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control options-languages" ng-model="cartMenu.language" required multiple="">

                                    <option ng-repeat="option in listPossibleLang"  value="{{option.code}}" ng-disabled="disableLang(option)" >{{option.name}}</option>

                                </select>
                                <span class="label label-danger" ng-show="showRequiredLanguages()">{{'required' | translate}}</span>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-sm-12 ">
                                <div class="btn btn-primary" ngf-select ngf-change="uploadFileToServe($files)" ng-disabled="isUploading">
                                    {{'menu.new.bupload' | translate}}<i class="fa fa-upload"></i> {{progressPercentage}}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default  text-center">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="file in listFilesPhotoUpload" >{{file.filename}}
                                    <button class="btn btn-warning" ng-click="removeImg($index)">X</button>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-default btn-lg submit animated"
                            ng-class="{shake: !isEnableButtonSave()}"
                             ng-disabled="isEnableButtonSave()" ng-click="SaveNewRestaurantMenu()">
                                 {{'menu.new.bsave' | translate}}
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-body">
             <div class="text-center">
                    <img src="/assets/images/staticname/loading.gif" class="icon" />
                    <h4>{{'menu.new.lproccesing' | translate}} </h4>
                </div>
        </div>
    </script>
</section>
