$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";
@import 'bootstrap-sass/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

@import 'flags/flag-icon.scss';
// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'admin/dashboard/dashboard.scss';
@import 'main/main.scss';
@import 'owner/mymenu/editmenu/editmenu.scss';
@import 'owner/mymenu/listmenu/listmenu.scss';
@import 'owner/mymenu/newmenu/newmenu.scss';
@import 'owner/myrestaurant/listrestaurant/myrestaurantList.scss';
@import 'owner/owner.scss';
@import 'owner/payment/payment.scss';
@import 'translator/edittranslation/edittranslation.scss';
@import 'translator/list/listpending.scss';
@import 'translator/translator.scss';
@import 'user/user.scss';
@import 'wellcome/wellcome.scss';
@import 'modal/modal.scss';
// endinjector


.languagesAllow {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}



.fakePAYPAL  .btn-xlarge{
  position: relative;
  vertical-align: center;
  margin: 30px;
  height: 100x;
  padding: 48px 48px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  border-bottom: 3px solid #9FE8EF;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -3px #9FE8EF;
  box-shadow: inset 0 -3px #9FE8EF;
}
.fakePAYPAL  .success{
  background: green;
}

.fakePAYPAL  .cancel{
  background: red;
}


.fakePAYPAL  .btn-xlarge:active {
  top: 2px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.fakePAYPAL  .btn-xlarge:hover {
  background: #45E1E8;
}
