<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="admin.dashboard" ng-show="isAdmin()" class="navbar-brand">LeMenu</a>
            <a ui-sref="main" ng-hide="isAdmin()" class="navbar-brand">LeMenu</a>
        </div>
        <div uib-collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav" ng-show="isAdmin">
                <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}">
                    <a ui-sref="admin.users">
                     {{'admin.navbar.adminuser' | translate}}   
                    </a>
                </li>
                <li ng-show="isAdmin()" ng-class="{active: isActive('/dashboard')}">
                    <a ui-sref="admin.dashboard">
                     Escritorio  
                    </a>
                </li>
                <li ng-show="isAdmin()" ng-class="{active: isActive('/dashboard')}">
                    <a ui-sref="admin.restaurants">
                     Restaurantes
                    </a>
                </li>
                <li ng-show="isAdmin()" ng-class="{active: isActive('/dashboard')}">
                    <a ui-sref="admin.complaint">
                     Observaciones
                    </a>
                </li>
                <li ng-show="isAdmin()" ng-class="{active: isActive('/dashboard')}">
                    <a ui-sref="admin.translations">
                     Traducciones
                    </a>
                </li>

            </ul>
            <ul class="nav navbar-nav" ng-show="isOwner()">
                <li> <a ui-sref="owner.resto.list">{{'navbarowner.lmyrestaurants' | translate}}</a>
                </li>
                <li><a ui-sref=".payment.list">{{'navbarowner.lmypays' | translate}}</a></li>
                <li><a ui-sref="owner.translations">{{'navbarowner.translations' | translate}}</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-show="isTranlator()">
                <li> <a ui-sref="translator.list">{{'navbarowner.lhome' | translate}}</a>
                </li>
                <li> <a ui-sref="translator.edit">{{'translator.navbartra.workinProgress' | translate}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">{{'navbar.lsignup' | translate}}</a></li>
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">{{'navbar.llogin' | translate}}</a></li>
                <li ng-show="isLoggedIn()">
                    <p class="navbar-text">{{'navbar.lhello' | translate}} {{ getCurrentUser().name }}</p>
                </li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">{{'navbar.llogout' | translate}}</a></li>
                <li uib-dropdown uib-keyboard-nav>
                    <a href="#" uib-dropdown-toggle class="languagesAllow">
                        <span class="flag-icon {{getcssFlag}}" style="padding-top: 10px;"></span>
                        <span class="fa fa-language fa-3x"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                        <li role="menuitem" ng-repeat="allow in LanguagesAllow"><a href="#" ng-click="ChangeLang(allow)"> {{allow.name}} </a></li>
                    </ul>
                </li>
        </div>
        </ul>
    </div>
</div>
</div>
