.newresto {
    background-image: url(../assets/images/staticname/addrestobg2.png);
    background-repeat: no-repeat;
    background-position: right 10px top;
}

.listresto {
    background-image: url(../assets/images/staticname/listresto.png);
    background-position: right 10px top;
}

.listrestofirsttime {
    background-image: url(../assets/images/staticname/listresto.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 448px;
}

.plus1resto {
    background-image: url(../assets/images/staticname/plus1.png);
    background-repeat: no-repeat;
    float: left;
    width: 33%;
}

.group-button-opt-resto button {
    margin: 5px;
}

.addmenu-gb {
    background-image: url(../assets/images/staticname/addmenubg.png);
    background-position: right 10px top;
}

.options-languages {
    height: 110px !important;
}

.payment-bg {
    background-image: url(../assets/images/staticname/paymentgb.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 400px;
}
